/products.txt
/test.txt
/test_file.txt
/example.txt
/example1.txt
/example2.txt
/example3.txt
/example4.txt
/example5.txt
/example6.txt
/example7.txt
/example8.txt
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/Urban.iml
/.idea/vcs.xml
/.idea/.gitignore
/Files/file 3.txt
/Files/file 2.txt
/Files/file 4.txt
/Files/file 1.txt
/bot_config.py
